*{
  padding: 0;
  border: 0;
  margin: 0;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 100px; */
  height: 100vh;
  background-color: #0D4C92;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  color: #EB6440;
  margin-bottom: 10px;
}
h2{
  margin-bottom: 30px;
  border: solid gray;
  /* width: 140px; */

}
.question {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: solid gray;
  background-color: aqua;
}
.question > span{
  padding-bottom: 5px;
  padding-top: 10px;
}
.display > h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.showAnswer{
  margin-top: 10px;
  border: solid 1px;
}

/* =========BUTTONS========= */
button{
  background-color: #444;
  height: 40px;
  /* min-width: 80px; */
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
}
.add{
  background-color: #B6E2A1;
}
.add > p{
  margin-top: 6px
}
.reduce{
  background-color: #FF7D7D;
}
.reduce > p{
  margin-top: 6px;
}
.random{
  background-color: #FFE15D;
}
.show{
  background-color: #153462;
  color: #fff;
  font-weight: 400;
}
.points > div{
  display: flex;
  justify-content: space-around;
  width: 400px;
}
.points > h2{
  text-align: center;
}

/* ============= MEDIA QUIER 375 -- 667 ========= */
@media ( width <= 375px ){
  .points > h2{
    font-size: 30px;
}
button{
  width: 150px;
  font-size: 20px;
  font-weight: bold;

}
.add > p{
  margin-top: 6px
}
h1{
  color: #EB6440;
  font-size: 30px;
  margin-bottom: 0;
}
.display > h3 {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.question {
  display: flex;
  flex-direction: column;
  width: 98%;
  border: solid gray;
  background-color: aqua;
}
.question > span{
  padding-bottom: 5px;
  padding-top: 10px;
  font-size: 23px;
  letter-spacing: 1.5px;
}
h4{
  font-size: 24px;
}
.showAnswer{
  margin-top: 1px;
  border: solid #fff 1px;
  font-size: 50px;
  background-color: #fff;
}
h2{
  width: 240px;
  margin-left: 75px;
}
button{
  height: 50px;
}
.points > div{
  display: flex;
  justify-content: center;
  width: 400px;
  gap: 7px;
  /* margin-left: -9px */
}
}

/* ============= MEDIA QUIER 600 ========= */

@media ( width <= 600px ){
h1{
  color: #EB6440;
  font-size: 55px;
  margin-bottom: 0;
}
h2{
  width: 350px;
  font-size: 80px;
  margin-left: 230px;
}
.points{
  display: flex;
  flex-direction: column;
}
.points > div{
  display: flex;
  justify-content: space-between;
  width: auto;
  gap: 7px;
  /* margin-left: -9px */
}
button{
  height: 130px;
  width: 400px;
  font-size: 50px;
  font-weight: bold;
}
}